<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{!-- <link rel="icon" href="/img/weather.png"> --}}
  <link rel="stylesheet" href="/css/styles.css">
  {{!-- <script src="/js/index.js" defer></script> --}}
  <title>Movie Search</title>
</head>

<body>
  {{>header}}
  <main>
    <p>{{error}}</p>
  </main>
  {{>footer}}
</body>

</html>