{{!-- Defs need a footer for the TMDb disclaimer and logo --}}
<footer>
  <img class="footer-logo" src="/img/poweredBy_light_logo_square.png" alt="Powered by TMDb">
  <p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
</footer>