@import url('https://fonts.googleapis.com/css?family=Asap|Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Asap', sans-serif;
  color: rgb(247, 247, 247);
  background-color: rgb(102, 78, 124);
}

/* Header */
header {
  padding: 0.7rem;
  background-color: rgb(59, 46, 71);
}

h1 {
  font-family: 'Righteous', cursive;
}

a, a:visited {
  color: rgb(103, 207, 77);
  text-decoration: none;
}

/* Main */
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-form {
  margin-top: 20px;
}

input {
  font-size: 1.4rem;
  border-radius: 5px;
  padding: 0.3rem;
  border: none;
}

@media only screen and (max-width: 370px) {
  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  input {
    margin: 5px;
  }
}

@media only screen and (min-width: 900px) {
  input {
    min-width: 800px;
  }
}

input:focus {
  outline: none;
}

button {
  font-size: 1.4rem;
  border-radius: 5px;
  padding: 0.3rem;
  border: none;
  margin: 5px;
}

button:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .search-form {
    width: fit-content;
  }
}

.search-output-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-output {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.search-output-pages {
  margin: 15px;
}

.card {
  margin: 15px;
  min-height: 375px;
  width: 200px;
  max-width: 200px;
  overflow: hidden;
  border: 1px solid rgb(59, 46, 71);
  background-color: cornsilk;
  color: black;
}

.card:hover {
  cursor: pointer;
}

.card-img {
  max-width: 200px;
  margin-bottom: 5px;
}

.card-text-wrapper {
  padding: 12px;
}

.page-number {
  margin: 10px;
  text-align: center;
}

/* Movie Page */
.back-button {
  border-radius: 5px;
  padding: 10px;
  background: rgb(77, 13, 136);
}

.back-button:hover {
  background: rgba(77, 13, 136, 0.788);
}

h2 {
  text-align: center;
  font-size: 4rem;
  padding: 10px;
}

h3 {
  text-align: center;
  font-size: 1rem;
  font-weight: lighter;
  padding-bottom: 20px;
}

.movie-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-details {
  list-style: none;
  line-height: 1.3;
  padding: 2rem;
  max-width: 600px;
}

.movie-details li {
  padding: 10px;
}

.movie-details-genre-list {
  padding: 0 30px;
  margin: 1px;
  list-style: square;
  line-height: 0.1;
}

.movie-details-entry {
  font-size: 2rem;
  padding: 5px 0;
}

.movie-details li a {
  color: rgb(81, 204, 65);
}

.movie-poster {
  max-width: 400px;
  flex-grow: 1;
  margin: 10px;
}


@media only screen and (max-width: 845px) {
  h2 {
    font-size: 2.8rem;
  }

  .movie-container {
    flex-direction: column;
    max-width: auto;
  }

  .movie-details {
    padding: 4px;
  }

  .movie-poster {
    max-width: 300px;
    margin: 0;
  }

  body > main > div > ul > li:nth-child(4) > a {
    word-wrap: break-word;
  }
}

@media only screen and (max-width: 385px) {
  .movie-container {
    max-width: 350px;
  }

  h2 {
    padding: 7px;
    font-size: 2rem;
  }

  h3 {
    padding: 4px;
  }

  .movie-details-entry {
    font-size: 1.5rem;
    padding: 3px 5px;
  }

  .movie-details {
    max-width: 300px;
  }
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  background-color: rgb(59, 46, 71);
}

.footer-logo {
  max-width: 80px;
  margin-right: 0.4rem;
}

/* Loading Spinner */
.spinner-1:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 3px solid rgb(150, 149, 151);
  border-top-color: rgb(103, 207, 77);
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}